/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  background: #3cb7ff;
}

.wrapper {
  max-width: 405px;
  margin: 135px auto;
  background: #fff;
  border-radius: 7px;
  padding: 28px 0;
}
.task-input {
  height: 52px;
  padding: 0 25px;
  position: relative;
}

.task-input img {
  position: absolute;
  top: 50%;
  transform: translate(17px, -50%);
}

.task-input input {
  height: 100%;
  width: 100%;
  padding: 0 20px 0 53px;
}

.task-input input::placeholder {
  color: #bfbfbb;
}

.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls {
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}
.filters span {
  cursor: pointer;
  margin: 0 8px;
  font-size: 17px;
}
.filters span:first-child {
  margin-left: 0;
}

.filters span.active {
  color: #3cb7ff;
}

.controls .clear-btn {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 4px;
  background: #3cb7ff;
  color: #fff;
  padding: 7px 13px;
}
.task-box {
  margin: 20px 25px;
}
.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}
.task-box .task:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.task label {
  display: flex;
}
.task label p.checked {
  text-decoration: line-through;
}

.task label input {
  margin-right: 12px;
}
.task .settings {
  cursor: pointer;
  position: relative;
}
.settings .task-menu {
  position: absolute;
  padding: 5px 0;
  right: -5px;
  left: -65px;
  z-index: 2;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.2s ease;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.15);
}
.settings .task-menu.show {
  transform: scale(1);
}

.task-menu li {
  height: 25px;
  font-size: 16px;
  padding: 17px px;
  margin-bottom: 2px;
  justify-content: flex-start;
}
.task-menu li:last-child {
  margin-bottom: 0;
}
.task-menu li:hover {
  background: #ebe8e8;
}

.task-menu li i {
  margin-right: 8px;
}

@media (max-width: 400px) {
  body {
    padding: 0 10px;
  }
  .wrapper {
    padding: 20px 0;
  }
  .filters span {
    margin: 0 5px;
  }
  .task-input {
    padding: 0 20px;
  }
  .controls {
    padding: 18px 20px;
  }
  .task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
  .task label input {
    margin-top: 4px;
  }
}
